body {
    font-family: 'Balsamiq Sans', cursive;
    margin-top: 2vh;
}

.col-sm-2 {
    background-color: orange;
}

.information-charmeleon {
    margin-top: 6vh;
}

.information-pikachu {
    margin-top: 6vh;
}

.Title {
    text-align: center;
    font-size: 50px;
}

.Pikachu {
    height: 50vh;
}

.Charmeleon {
    height: 50vh;
}

.cont {
    margin-top: 10vh;
    margin-left: 12vw;

}

.row {
    margin-left: 12vw;
}