* {
    font-family: 'Balsamiq Sans', cursive;
    margin-top: 2vh;
}
.col-3 {
    background-color: orange;
    border-radius: 10px;
}

#Charmeleon {
    height: 85vh;
}

#Pikachu {
    margin-left: 10vh;
}


.infoTitle {
    margin-top: 3vh;
}

.Title {
    text-align: center;
    max-font-size: 50px;
}

.row {
    margin-left: 2vw;
}
/*Image*/

.Pikachu {
    max-height: 50vh;
}

.Charmeleon {
    max-height: 50vh;
}

